<app-menu>
  <ng-template #content>
    <div class="links child">
      <button class="btn btn-danger" (click)="scrollToElement(target)">About</button>
      <br>
      <button class="btn btn-danger" (click)="scrollToElement(skills)">Skills</button>
    </div>
        <div class="image">
          <img class="" src="../../assets/images/IMG_E1304.JPG">
        </div>
<div class="media about child" id="section1" #target>
        <div class="media-body">
          <strong><h4 id="mediaTitle" class="mt-0">About Me</h4></strong>
          <p class="description"> I recently graduated with my Bachelor's from SUNY Albany, where I majored in psychology and minored in business.
            I've volunteered in 3 different psychology research labs and that's where I first got 
            exposed to a programming language (Python). I moved to Austin about a year ago to seek new opportunities and steady my 
            career path. Sure enough, I came across The Coding Bootcamp at UT, where I've been pushing my capabilities and learning 
            to code from a full stack prespective. Since starting, I've learned how to follow a MVC model, create a RESTful API, 
            create an object oriented program, collaborate on GitHub, run browser tests, picked up many new languages and libraries 
            such as React.js, and much more. I've become passionate about making creative web applications and solving complex problems with 
            elegant yet easily maintainable code.</p>
        </div>
</div>
<div class="row child" id="section2" #skills>
<div class="media col m-4 flavors">
  <div class="media-body">
    <strong><h4 id="mediaTitle" class="mt-0">Flavors:</h4></strong>
    <ul class="list">
      <li>Banana</li>
      <li>Bubble Gum</li>
      <li>Cake Batter</li>
      <li>Red Velvet</li>
      <li>Pumpkin</li>
      <li>Vanilla</li>
    </ul>
  </div>
</div>
<div class="media col m-4 flavors">
  <div class="media-body">
    <strong><h4 id="mediaTitle" class="mt-0">Toppings:</h4></strong>
    <ul class="list">
      <li>Oreos</li>
      <li>Cake pieces</li>
      <li>Bubble gum flavored candy</li>
      <li>Hot fudge</li>
      <li>Walnuts</li>
      <li>Confetti sprinkles</li>
    </ul>
  </div>
</div>
</div>
</ng-template>
</app-menu>



