
.media{
    background-color: rgba(255, 217, 217, 0.856);
    height: 150px;
    width: 75%;
    padding: 20px;
    display: flex;
    align-self: start;
    margin-top: 40px;
    border: 3px solid rgb(255, 0, 119);
    font-family: 'Belleza';
    font-size: 14pt;
    text-align: center;
    overflow-y: scroll;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
    scroll-behavior: smooth;
}
.image{
    border: 2px solid rgb(104, 13, 55);
    margin-bottom: 100px;
    box-shadow: 2px 1px 1px 2px rgba(0, 0, 0, 0.521);
    width: 100%;
    scroll-snap-align: center;
}
img{
    height: 100%;
    width: inherit;

}

.about{
    height: 300px;
    margin-bottom: 70px;

}
.parent{
    scroll-snap-type: mandatory;
}

.child{
    scroll-snap-align: start;
}

#mediaTitle{
    text-align: center;
    text-emphasis: bolder;
}

.list{
    text-align: left;
}

.flavors{
    width: 500px;
    height: 250px;
    
}

.description{
    text-align: left;
}

.links{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/images/code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-danger{
    width: 100px;
    margin: 10px;
}

.me{
    width: 100px;
    height: 160px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.658);
    border: 1px solid rgb(45, 6, 82);
}

@media only screen and (max-width: 600px) {
    .flavors{
        width: inherit;
       
    }
    .description{
        text-align: center;
    }

    .list{
        position: absolute;
        left: 0;
    }
}
